# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases
*.db
store_intelligence.db
test_store_intelligence.db
test_anomalies_intelligence.db

# Virtual environments
myenv/
env/
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Large video files
data/clips/
*.mp4
